:root {
    --primary-color: #ff6700;
    --accent-color: #212529;
    --wrapper-width: 100px;
}

.navbar {
    background: var(--primary-color);
    width: 100%;
}
.scrolledDown {
    position: fixed;
    background-color: rgba(255, 116, 24, 0.8);
    z-index: 1;
    
}
.scrolledUp {
    z-index: 1;
}

.navbar .container-fluid {
    margin: 0;
}

.navbar-brand img {
    width: 130px;
}

.banner {
    position: relative;
    text-align: center;
    z-index: -1;
    color: white;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
}

.banner::after {
    position: absolute;
    background: #fff;
    bottom: 10px;
    left: 10px;
    transform: skewY(-45deg);
}

.banner img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    filter: brightness(40%)
}

.banner .banner-text {
    color: #fff;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -55%);
}

.banner .banner-text .title {
    font-size: 49px;
    padding-bottom: 0px;
    margin: 0px;
}

.banner .banner-text .subtitle {
    font-size: 17px;
    margin: 0;
}

.wrapper {
    margin: var(--wrapper-width);
    z-index: -1;
}

.filter-label {
    text-align: right;
}

.filter-row {
    align-items: baseline;
}

.news-item {
    height: 325px;
}

.news-item img {
    height: 175px;
    object-fit: cover;
}

.news-item .news-title {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

select {
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-image: url("data:image/svg+xml,%3Csvg%20class%3D%22svg-icon%22%20style%3D%22width%3A%201em%3B%20height%3A%201em%3Bvertical-align%3A%20middle%3Bfill%3A%20currentColor%3Boverflow%3A%20hidden%3B%22%20viewBox%3D%220%200%201024%201024%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M859.8528%20292.9664H164.1472c-40.1408%200-60.3136%2048.5376-31.8464%2077.0048L480.1536%20717.824c17.6128%2017.6128%2046.1824%2017.6128%2063.7952%200l347.8528-347.8528c28.3648-28.4672%208.2944-77.0048-31.9488-77.0048z%22%20%20%2F%3E%3C%2Fsvg%3E");
    background-color: #fff;
    background-repeat: no-repeat;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: 25px 25px 25px 25px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    appearance: none;
}

.pagination {
    margin-top: 60px;
}

.page-link {
    color: var(--accent-color);
    border: none;
    border-radius: 6px;
}

.chevron {
    font-weight: bold;
}

.page-link:hover {
    color: var(--accent-color);
}

.page-item.active .page-link {
    background: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}
.nav-item .active {
    text-decoration: underline;
    text-underline-offset: 8px;
}

@media (min-width: 768px) {
    .navbar .container-fluid {
        margin: 0 45px 0 45px;
    }
}